*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
   
}
.header img{
    display: auto;
    position: relative;
    width: 1545px;
    height: 150px;
    opacity: 0.9;
}
.header {
    padding-top: -5px;
    grid-area: header;
    background: white;
    opacity: 0.9;
}

.header h1 {
    text-align: center;
    justify-content: center;
    font-size: 32px;
    color: black;
}

img.pequeña {
    height: 150px;
    width: 120px;
}

p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: black; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
}

.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.users-table {
    width: 50%;
 }
 th, td {
    width: 25%;

 }
